# Imports

In [2]:
import pandas as pd

# Load Data

Had to load it in parts as having it as 1 file was too big for GitHub.

In [4]:
df_1 = pd.read_csv('CSV_Datasets_Orders/Oracle_Exported_Order_Dataset/1_orders.csv')
df_2 = pd.read_csv('CSV_Datasets_Orders/Oracle_Exported_Order_Dataset/2_orders.csv')

# Concatenate the Dataset Parts Together

In [12]:
df = pd.concat([df_1, df_2])

# Checking the data

In [13]:
df.head()

,ORDER_ID,ORDER_DATE,SHIP_MODE,SHIP_DATE,CUSTOMER_ID,POSTAL_ID,PRODUCT_ID,PRODUCT_PRICE_ID,PRODUCT_UNIT_PRICE,PRODUCT_COST_PRICE,PRODUCT_DISCOUNT_PERCENTAGE,PRODUCT_DISCOUNT_AMOUNT,PRODUCT_DISCOUNTED_UNIT_PRICE,QUANTITY,TOTAL_DISCOUNT_AMOUNT,TOTAL_UNIT_AMOUNT,GROSS_PROFIT_UNIT_AMOUNT,TOTAL_DISCOUNTED_UNIT_AMOUNT,GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT
0,1,01/01/2010,Standard Class,08/01/2010,9310,70,887,887,5.90,3.37,0.02,0.1180,5.7820,8,0.9440,47.20,20.24,46.2560,19.2960
1,2,01/01/2010,Second Class,04/01/2010,108,556,582,582,4.20,3.38,0.02,0.0840,4.1160,7,0.5880,29.40,5.74,28.8120,5.1520
2,3,01/01/2010,First Class,02/01/2010,8690,573,543,543,166.95,153.04,0.00,0.0000,166.9500,6,0.0000,1001.70,83.46,1001.7000,83.4600
3,4,01/01/2010,First Class,02/01/2010,2278,42,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018
4,5,01/01/2010,First Class,02/01/2010,9006,419,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983892 entries, 0 to 492406
Data columns (total 19 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ORDER_ID                             983892 non-null  int64
 1   ORDER_DATE                           983892 non-null  object
 2   SHIP_MODE                            983892 non-null  object
 3   SHIP_DATE                            983892 non-null  object
 4   CUSTOMER_ID                          983892 non-null  int64
 5   POSTAL_ID                            983892 non-null  int64
 6   PRODUCT_ID                           983892 non-null  int64
 7   PRODUCT_PRICE_ID                     983892 non-null  int64
 8   PRODUCT_UNIT_PRICE                   983892 non-null  float64
 9   PRODUCT_COST_PRICE                   983892 non-null  float64
 10  PRODUCT_DISCOUNT_PERCENTAGE          983892 non-null  float64
 11  PRODUCT_DISCOUNT_AMOUNT              983892 non-null  float64
 12  PRODUCT_DISCOUNTED_UNIT_PRICE        983892 non-null  float64
 13  QUANTITY                             983892 non-null  int64
 14  TOTAL_DISCOUNT_AMOUNT                983892 non-null  float64
 15  TOTAL_UNIT_AMOUNT                    983892 non-null  float64
 16  GROSS_PROFIT_UNIT_AMOUNT             983892 non-null  float64
 17  TOTAL_DISCOUNTED_UNIT_AMOUNT         983892 non-null  float64
 18  GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT  983892 non-null  float64
dtypes: float64(10), int64(6), object(3)
memory usage: 150.1+ MB

In [15]:
df.shape

(983892, 19)

In [6]:
df.isnull().sum()

ORDER_ID                               0
ORDER_DATE                             0
SHIP_MODE                              0
SHIP_DATE                              0
CUSTOMER_ID                            0
POSTAL_ID                              0
PRODUCT_ID                             0
PRODUCT_PRICE_ID                       0
PRODUCT_UNIT_PRICE                     0
PRODUCT_COST_PRICE                     0
PRODUCT_DISCOUNT_PERCENTAGE            0
PRODUCT_DISCOUNT_AMOUNT                0
PRODUCT_DISCOUNTED_UNIT_PRICE          0
QUANTITY                               0
TOTAL_DISCOUNT_AMOUNT                  0
TOTAL_UNIT_AMOUNT                      0
GROSS_PROFIT_UNIT_AMOUNT               0
TOTAL_DISCOUNTED_UNIT_AMOUNT           0
GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT    0
dtype: int64

In [7]:
df_sorted = df.sort_values(by='ORDER_ID')
df_sorted = df_sorted.reset_index(drop=True)
df_sorted

,ORDER_ID,ORDER_DATE,SHIP_MODE,SHIP_DATE,CUSTOMER_ID,POSTAL_ID,PRODUCT_ID,PRODUCT_PRICE_ID,PRODUCT_UNIT_PRICE,PRODUCT_COST_PRICE,PRODUCT_DISCOUNT_PERCENTAGE,PRODUCT_DISCOUNT_AMOUNT,PRODUCT_DISCOUNTED_UNIT_PRICE,QUANTITY,TOTAL_DISCOUNT_AMOUNT,TOTAL_UNIT_AMOUNT,GROSS_PROFIT_UNIT_AMOUNT,TOTAL_DISCOUNTED_UNIT_AMOUNT,GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT
0,1,01-JAN-10,Standard Class,08-JAN-10,9310,70,887,887,5.90,3.37,0.02,0.1180,5.7820,8,0.9440,47.20,20.24,46.2560,19.2960
1,2,01-JAN-10,Second Class,04-JAN-10,108,556,582,582,4.20,3.38,0.02,0.0840,4.1160,7,0.5880,29.40,5.74,28.8120,5.1520
2,3,01-JAN-10,First Class,02-JAN-10,8690,573,543,543,166.95,153.04,0.00,0.0000,166.9500,6,0.0000,1001.70,83.46,1001.7000,83.4600
3,4,01-JAN-10,First Class,02-JAN-10,2278,42,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018
4,5,01-JAN-10,First Class,02-JAN-10,9006,419,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983887,983921,31-DEC-15,Second Class,03-JAN-16,5474,67,743,9993,17.03,14.59,0.00,0.0000,17.0300,10,0.0000,170.30,24.40,170.3000,24.4000
983888,983922,31-DEC-15,Standard Class,07-JAN-16,1853,219,743,9993,17.03,14.59,0.00,0.0000,17.0300,10,0.0000,170.30,24.40,170.3000,24.4000
983889,983923,31-DEC-15,First Class,01-JAN-16,1621,225,472,9722,392.68,324.80,0.00,0.0000,392.6800,5,0.0000,1963.40,339.40,1963.4000,339.4000
983890,983924,31-DEC-15,Second Class,03-JAN-16,4726,395,788,10038,30.41,24.43,0.02,0.6082,29.8018,10,6.0820,304.10,59.80,298.0180,53.7180
983891,983925,31-DEC-15,Second Class,03-JAN-16,4726,395,1506,10756,118.32,83.70,0.00,0.0000,118.3200,9,0.0000,1064.88,311.58,1064.8800,311.5800

In [8]:
# Initialize ORDER_KEY with 1 for the first row
df_sorted['ORDER_KEYS'] = 1

# Iterate through the DataFrame to set ORDER_KEY based on the given logic
for i in range(1, len(df_sorted)):
    if df_sorted.at[i - 1, 'CUSTOMER_ID'] == df_sorted.at[i, 'CUSTOMER_ID']:
        df_sorted.at[i, 'ORDER_KEYS'] = df_sorted.at[i - 1, 'ORDER_KEYS']
    else:
        df_sorted.at[i, 'ORDER_KEYS'] = df_sorted.at[i - 1, 'ORDER_KEYS'] + 1

# Display the result
print(df_sorted[['ORDER_ID', 'ORDER_KEYS', 'CUSTOMER_ID']].head(30))

    ORDER_ID  ORDER_KEYS  CUSTOMER_ID
0          1           1         9310
1          2           2          108
2          3           3         8690
3          4           4         2278
4          5           5         9006
5          6           6         7514
6          7           7         5989
7          8           8         3151
8          9           9         1697
9         10          10         3151
10        11          11         1697
11        12          12         4697
12        13          13         4628
13        14          13         4628
14        15          13         4628
15        16          14         5278
16        17          15         7899
17        18          16         3785
18        19          17         5278
19        20          18         7899
20        21          19         3785
21        22          20         4271
22        23          21         8157
23        24          22         9621
24        25          23         4271
25        26          24         8157
26        27          25         9621
27        28          26           16
28        29          27         8495
29        30          28         1327

In [9]:
# This is just the Order of Columns I prefer.
df_sorted = df_sorted[['ORDER_ID', 'ORDER_KEYS', 'ORDER_DATE', 'SHIP_MODE', 'SHIP_DATE', 'CUSTOMER_ID',
       'POSTAL_ID', 'PRODUCT_ID', 'PRODUCT_PRICE_ID', 'PRODUCT_UNIT_PRICE',
       'PRODUCT_COST_PRICE', 'PRODUCT_DISCOUNT_PERCENTAGE',
       'PRODUCT_DISCOUNT_AMOUNT', 'PRODUCT_DISCOUNTED_UNIT_PRICE', 'QUANTITY',
       'TOTAL_DISCOUNT_AMOUNT', 'TOTAL_UNIT_AMOUNT',
       'GROSS_PROFIT_UNIT_AMOUNT', 'TOTAL_DISCOUNTED_UNIT_AMOUNT',
       'GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT']]

In [10]:
# You dont have to split the updated_orders csv file like I did, I only did that so that I can push it to GitHub.
# Export to csv file called updated_orders.csv
# df_sorted.to_csv('updated_orders.csv', encoding='utf-8',  index=False)

In [11]:
full_df = pd.read_csv('updated_orders.csv')
full_df

,ORDER_ID,ORDER_KEYS,ORDER_DATE,SHIP_MODE,SHIP_DATE,CUSTOMER_ID,POSTAL_ID,PRODUCT_ID,PRODUCT_PRICE_ID,PRODUCT_UNIT_PRICE,PRODUCT_COST_PRICE,PRODUCT_DISCOUNT_PERCENTAGE,PRODUCT_DISCOUNT_AMOUNT,PRODUCT_DISCOUNTED_UNIT_PRICE,QUANTITY,TOTAL_DISCOUNT_AMOUNT,TOTAL_UNIT_AMOUNT,GROSS_PROFIT_UNIT_AMOUNT,TOTAL_DISCOUNTED_UNIT_AMOUNT,GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT
0,1,1,01-JAN-10,Standard Class,08-JAN-10,9310,70,887,887,5.90,3.37,0.02,0.1180,5.7820,8,0.9440,47.20,20.24,46.2560,19.2960
1,2,2,01-JAN-10,Second Class,04-JAN-10,108,556,582,582,4.20,3.38,0.02,0.0840,4.1160,7,0.5880,29.40,5.74,28.8120,5.1520
2,3,3,01-JAN-10,First Class,02-JAN-10,8690,573,543,543,166.95,153.04,0.00,0.0000,166.9500,6,0.0000,1001.70,83.46,1001.7000,83.4600
3,4,4,01-JAN-10,First Class,02-JAN-10,2278,42,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018
4,5,5,01-JAN-10,First Class,02-JAN-10,9006,419,1821,1821,499.99,369.99,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983887,983921,849856,31-DEC-15,Second Class,03-JAN-16,5474,67,743,9993,17.03,14.59,0.00,0.0000,17.0300,10,0.0000,170.30,24.40,170.3000,24.4000
983888,983922,849857,31-DEC-15,Standard Class,07-JAN-16,1853,219,743,9993,17.03,14.59,0.00,0.0000,17.0300,10,0.0000,170.30,24.40,170.3000,24.4000
983889,983923,849858,31-DEC-15,First Class,01-JAN-16,1621,225,472,9722,392.68,324.80,0.00,0.0000,392.6800,5,0.0000,1963.40,339.40,1963.4000,339.4000
983890,983924,849859,31-DEC-15,Second Class,03-JAN-16,4726,395,788,10038,30.41,24.43,0.02,0.6082,29.8018,10,6.0820,304.10,59.80,298.0180,53.7180
983891,983925,849859,31-DEC-15,Second Class,03-JAN-16,4726,395,1506,10756,118.32,83.70,0.00,0.0000,118.3200,9,0.0000,1064.88,311.58,1064.8800,311.5800